<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->

<packages>
  <package id="Autofac" version="3.5.0" targetFramework="win81" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="win81" />
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.1-beta1" targetFramework="win81" />
  <package id="SharpDX" version="2.5.0" targetFramework="win81" />
</packages>