body {
    background-color: #f99;
}

a {
    color: #066;
}

a:hover {
    color: #600;
}

body,a:visited {
    color: #000;
}

a:active {
    color: #f09;
}

#notregistered,#searchboxes {
    background: none;
}

#forum,table {
    clear: left;
}

#forum th,#forum th a,div.threadbar,div.forumbar {
    color: #fff;
}

#thread div.quote {
    border-color: #aaa;
}

#forum th,div.threadbar,div.forumbar {
    background: #f39;
}

#forum td.icon,#forum td.author,#forum td.views,#forum td.lastpost,#thread li.post,#subforums td.topics,#forum td.votes,#forum.asktell td.icon2 {
    background: #fcc;
}

#thread li.post.even,#subforums,#subforums td,#forum,#forum td,#filter,table#thread tr.even td,#forum.asktell td.icon,#thread.review td {
    background: #fcf;
}

div.threadbar,#subforums,#subforums td,#forum,#forum td,#filter {
    border: 1px solid #033;
}

#thread td.postbody {
    border-top: 2px solid #033;
}

#subforums {
    clear: left;
}

#thread dl.userinfo dt.author {
    color: #f66;
}

#thread dd.registered {
    color: #060 !important;
}

#flag {
    margin-bottom: 1em;
}

#forum th {
    padding: 2px 3px;
}

table.funbox,table.funbox td {
    font: normal normal normal 13px Verdana,Arial,sans-serif;
    border: none !important;
}

#thread div.title {
    font: normal normal normal 10px Verdana,Arial,sans-serif;
    margin-top: 1em;
}

#thread div.title * {
    text-align: left;
}

p.signature {
    border: 0;
}

.funbox {
    margin-left: 80px;
}

tr.altcolor1 td {
    background-color: #fcf;
}

tr.altcolor2 td {
    background-color: #fcc;
}

table.standard {
    background: #000;
    border: 1px #000 solid;
}

table.standard td {
    border: 1px #000 solid;
}

.standard h2,table.standard th {
    background: #f39;
    color: #FFF;
    border: 0;
}

table.standard td {
    background: #fcf;
}

table.standard tr td.altcolor1 {
    background: #fcf;
}

table.standard tr td.altcolor2 {
    background: #fcc;
}

.altcolor1,tr.altcolor1 td,td.altcolor1 {
    background-color: #fcf;
}

.altcolor2,tr.altcolor2 td,td.altcolor2 {
    background-color: #fcc;
}

.postbody table.funbox tr td.complete_shit {
    background: #FFF;
}

div#flag_container {
    clear: both;
    height: 100px;
    width: 490px;
    margin: 0 auto;
    border: 1px #000 solid;
}

div#flag_container {
    background-color: #000;
    background-image: url(http://fi.somethingawful.com/fyad/flag-bg.gif);
}

div#flag_container img {
    margin: 0 119px;
    border: 0 #000 solid;
    border-width: 0 1px;
}

td.postdate {
    width: 168px;
}

#thread.review td {
    border-color: #999;
}

#thread.review td {
    background: none;
}

#thread.review dl {
    min-height: 60px;
}

#thread.review tr td.userinfo,#thread.review td.postdate {
    display: table-cell;
}

.bbc-center {
    text-align: left;
}

body,a {
    color: #011;
}

#content a {
    color: #066;
}

#content div.pages .curpage {
    color: #222;
}

#content div#mp_bar a,#content div.pages a,#content div.breadcrumbs a,#content div.breadcrumbs a:visited {
    color: #000;
}

#content div.breadcrumbs a.bclast,#content div.pages a {
    border-color: #555;
}

div.funbox {
    width: auto;
    float: left;
    clear: both;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 10px;
    -moz-border-radius: 24px;
    border: 2px #000 solid;
    border-radius: 24px;
    padding: 16px 24px;
    position: relative;
    min-width: 40px;
}

div.funbox .tail {
    background-repeat: no-repeat;
    background-image: url(http://i.somethingawful.com/images/funbox-9-bottom-arrow.gif);
    background-position: 0 0;
    position: absolute;
    bottom: -16px;
    left: 24px;
    width: 27px;
    height: 31px;
}

div.userinfo {
    clear: left;
}

td.postdate {
    white-space: nowrap;
}

td.postlinks {
}

* {
    text-shadow: none !important;
}

body {
    background-color: #f99;
    background-image: url(http://i.somethingawful.com/u/docevil/fyadbg.jpg);
}

a:hover {
    color: #600;
}

a:active {
    color: #f09;
}

#notregistered,#searchboxes {
    background: none;
}

#forum th,#forum th a,div.threadbar,div.forumbar {
    color: #fff;
}

#thread div.quote {
    border-color: #aaa;
}

#forum th,div.threadbar,div.forumbar {
    background: #f39 !important;
}

div.threadbar,#subforums,#forum,#forum td,#filter {
    border-top-style: solid !important;
    border-right-style: solid !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-width: 1px !important;
    border-color: #000 !important;
}

#thread td.postbody {
    border-top: none !important;
}

#thread dl.userinfo dt.author {
    color: #f66 !important;
}

#thread dd.registered {
    color: #060 !important;
}

#flag {
    margin-bottom: 1em;
}

#forum th {
    padding: 2px 3px;
}

table.funbox,table.funbox td {
    font: normal normal normal 13px Verdana,Arial,sans-serif;
    border: none !important;
}

#thread div.title {
    font: normal normal normal 10px Verdana,Arial,sans-serif;
    margin-top: 1em;
}

p.signature {
    border: 0;
}

td.postlinks ul.profilelinks li a {
    background: #fff !important;
}

.funbox {
    margin-left: 80px;
}

table.standard {
    background: #000;
    border: 1px #000 solid;
}

table.standard td {
    border: 1px #000 solid;
    background: #fcf;
}

td.postdate a {
    background: #fff !important;
}

#forum td.replies {
    text-align: center !important;
    font: normal normal normal 13px Verdana,Arial,sans-serif !important;
    text-decoration: underline !important;
}

#forum td.views {
    text-align: center !important;
    color: #000 !important;
}

#forum td.author {
    font: normal normal normal 13px Verdana,Arial,sans-serif !important;
    text-decoration: underline !important;
}

#subforums {
    color: #000 !important;
}

#subforums td {
    border: 1px #000 solid !important;
}

.standard h2,table.standard th {
    background: #f39;
    color: #FFF;
    border: 0;
}

.postbody table.funbox tr td.complete_shit {
    background: #FFF;
}

div#flag_container {
    clear: both;
    height: 100px;
    width: 490px;
    border: 1px #000 solid;
    background-color: #000;
    background-image: url(http://fi.somethingawful.com/fyad/flag-bg.gif);
    margin: 0 auto;
}

div#flag_container img {
    border: 0 #000 solid;
    border-width: 0 1px;
    margin: 0 119px;
}

td.postdate {
    width: 168px;
    white-space: nowrap;
}

#thread.review td {
    background: none;
    border-color: #999;
}

#thread.review dl {
    min-height: 60px;
}

#thread.review tr td.userinfo,#thread.review td.postdate {
    display: table-cell;
}

body,a {
    color: #011;
}

#content div.pages .curpage {
    color: #222;
}

#content div.breadcrumbs a.bclast,#content div.pages a {
    border-color: #555;
}

div.funbox {
    width: auto;
    float: left;
    clear: both;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 10px;
    -moz-border-radius: 24px;
    border: 2px #000 solid;
    border-radius: 24px;
    position: relative;
    min-width: 40px;
    padding: 16px 24px;
}

div.funbox .tail {
    background-repeat: no-repeat;
    background-image: url(http://i.somethingawful.com/images/funbox-9-bottom-arrow.gif);
    background-position: 0 0;
    position: absolute;
    bottom: -29px;
    left: 24px;
    width: 27px;
    height: 44px;
}

a,#content a {
    color: #066;
}

body,a:visited,#content div#mp_bar a,#content div.pages a,#content div.breadcrumbs a,#content div.breadcrumbs a:visited {
    color: #000;
}

#forum,table,#subforums,div.userinfo {
    clear: left;
}

#forum td.icon,#forum td.author,#forum td.views,#forum td.lastpost,#thread li.post,#subforums td.topics,#forum td.votes,#forum.asktell td.icon2,table.standard tr td.altcolor2 {
    background: #fcc !important;
}

#thread li.post.even,#subforums,#subforums td,#forum,#forum td,#filter,table#thread tr.even td,#forum.asktell td.icon,#thread.review td,table.standard tr td.altcolor1 {
    background: #fcf !important;
}

#thread div.title *,.bbc-center {
    text-align: left;
}

tr.altcolor1 td,.altcolor1,tr.altcolor1 td,td.altcolor1 {
    background-color: #fcf !important;
}

tr.altcolor2 td,.altcolor2,tr.altcolor2 td,td.altcolor2 {
    background-color: #fcc !important;
}

button, input[type=button], input[type=reset], input[type=submit] {
	background-color: transparent;
	color: #2F6EBB;
}

button[type=submit]:hover, input[type=submit]:hover {
    background-clip: border-box;
    background-color: #C6D9FB;
    border-color: transparent;
}